/* fonts */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url('https://fonts.googleapis.com/css?family=Spectral'); 

body {
    background-color: rgb(255, 255, 255);
    color: #000000;
    margin: 0;
    font-size: 20px;
    font-family: 'Spectral', serif;
  }
  
  /* Header & Nav Bar */

  #header {
      margin: 0;
      padding: 10vh 20vw 1vh;
  }

  div#title a{
    border-style: solid;
    border-color: rgb(165,60,31);
    border-image: 
    linear-gradient(
      to right, 
      rgb(165,60,31), 
      rgb(245, 217, 59)
    ) 10 stretch;

    padding: 5vh 0;
    display: flex;
    justify-content: center;
    text-align: center;

    color: rgb(77,101,139);
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    font-size: 10vh;
  }

  #nav {
    padding: 5vh 0;
    display: flex;
    justify-content: center;
    text-align: center; 
  }

  #nav a {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;

    color: rgb(165,60,31);
  }

  #nav a:hover{
    color: rgb(245, 217, 59);
  }


  /* Projects */

  #project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }

  li.project {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
    list-style-type: none;
    overflow: hidden;
    margin: 1rem;
    width: 24vmax;
    height: 12vmax;
    min-height: 175px;
    text-align: center;
    background-size: 25vw;
    background-position: center;
  }

  li.project:hover {
    position: relative;
    left: -1px;
    top:-1px;
    box-shadow: 3px 3px 5px grey;
  }

  li.project .year {
      color: white;
      font-size: 20px;
    font-family: 'Spectral', serif;
      background-color: rgba(0,0,0,.5);
  }

  li.project .title {
      align-self: center;
      color: white;
      font-family: 'Josefin Sans', sans-serif;
      
      text-decoration: none;
      font-size: calc(12px + 2vmax);

  }

  li.project .title p {
      max-width: 20vmax;
    background-color: rgba(0,0,0,0.5);
    margin: 0;
    padding: 1rem;

  }
