<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  {% include header.html %}
  {% if site.projects.size > 0 %}
  <div id="content">
    <ul id="project-container" class="gray-dotted">
      {% for project in site.projects %}
        <li class="project" style="background-image:url({{ site.url }}/assets/thumb/{{project.project}}.png)">
          <a class="project-title" href="{{ project.url }}"><p>{{ project.title }}</p></a>
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</body>
</html>
