<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  {% include header.html %}

    {{ content }}

    {% if site.projects.size > 0 %}
    {% assign ordered_projects = site.projects | sort:"year" | reverse %}
    <ul id="project-container">
      {% for project in ordered_projects %}
        <li class="project" style="background-image:url({{ site.url }}/assets/thumb/{{project.project}}.png)">
          <a href="{{ project.url }}"><div class="title">{{ project.title }}<div class="year">{{project.year}}</div></div></a>
        </li>
      {% endfor %}
    </ul>
    {% endif %}

</body>
</html>
